server = true
datacenter = "dc1"
bootstrap_expect = 1

log_level = "DEBUG"

encrypt = "{{ consul_key }}"
data_dir = "/tmp"
advertise_addr = "{{ hostvars[inventory_hostname].ansible_host }}"
connect {enabled = true}

enable_central_service_config = true
