data_dir = "/etc/nomad.d"
bind_addr = "{{ hostvars[inventory_hostname].ansible_host }}"

server {
  enabled          = true
  bootstrap_expect = 1
}

addresses {
  http = "0.0.0.0"
}

advertise {
  http  = "{{ hostvars[inventory_hostname].ansible_host }}"
  rpc  = "{{ hostvars[inventory_hostname].ansible_host }}"
  serf  = "{{ hostvars[inventory_hostname].ansible_host }}"
}
